<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derpicons.gshelf"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/gshelf_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name="com.derpicons.gshelf.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.derpicons.gshelf.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.GetUserName"
            android:label="@string/title_activity_get_user_name" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.ChangePassword"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.GamesLibrary"
            android:label="@string/title_activity_games_library" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.DealsLibrary"
            android:label="@string/title_activity_deals_library" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.Marketplace"
            android:label="@string/title_activity_marketplace" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.Wishlist"
            android:label="@string/title_activity_wishlist" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.DealsView"
            android:label="@string/title_activity_deals_view" >
        </activity>
        <activity
            android:name="com.derpicons.gshelf.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>